---
layout: default
title: Home
---
<p>Highly motivated, analytical, and driven senior in the Honors College at the University of South Carolina, with experience in project management, user experience (UX) design, and requirements researching.<br>
  I have experience in the business side of IT, where I have spent 2 years working through multiple organizations defining requirements and ensuring the completion of projects. I have experience in Power BI, Figma, CMS, SQL, web interface design, usability research, and various other data-driven tools that will help your organization succeed.<br>
  Outside of my IT career, I am a musician in various bands and love to DJ.</p>
<h2>Projects</h2>
<ul id="projects" class="ul-boxes">
  {% for project in site.projects %}
  <a href="{{ project.url }}"><li>{{ project.title }}</li></a>
  {% endfor %}
</ul>
<h2>Experience</h2>
<ul id="resume" class="ul-boxes">
{% for entry in site.resume_entries %}
<a href="{{ entry.url }}"><li>{{ entry.title }}</li></a>
{% endfor %}

