---
layout: default
title: Hana Donnelly
---
<div class="box-container">
  <h2>Design Projects</h2>
  <ul id="projects" class="ul-boxes">
    {% for project in site.projects %}
    <li><a href="{{ project.url }}">{{ project.title }}</a></li>
    {% endfor %}
  </ul>
</div>
<div class="box-container">
  <h2>Experience</h2>
  <ul id="resume" class="ul-boxes">
  {% for entry in site.resume_entries %}
  <li><a href="{{ entry.url }}">{{ entry.title }}</a></li>
  {% endfor %}
</div>


